@value size1, sizeM2 from "../../styles/sizing.css";

.Button {
  composes: default from "../../styles/borders.css";
  composes: inverted from "../../styles/colors.css";
  composes: fontSpecial from "../../styles/typography.css";
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  padding: sizeM2 size1;
}
