@value size1, size5 from "../../styles/sizing.css";

.root {
  composes: centralized from "../../styles/display.css";
}

.button {
  composes: default from "../../styles/buttons.css";
  margin-top: size1;
}

.heading {
  font-size: size5;
}
