.Container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.Container > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 35rem;
  padding-left: var(--s2);
  padding-right: var(--s2);
}
