@value sizeM1 from "../../styles/sizing.css";

.SkipLink {
  composes: inverted from "../../styles/colors.css";
  display: inline-block;
  padding: sizeM1;
  position: absolute;
  top: -10rem;
}

.SkipLink:focus {
  outline: none;
  position: absolute;
  top: 0;
  z-index: 1;
}
