/* Font family */
.sans {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.serif {
  font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.special {
  font-family: "Exo", Arial, Helvetica, sans-serif;
}
