.Spinner > svg {
  animation: spin 1s infinite linear;
  height: 50px;
  width: 50px;
}

.Spinner > svg > circle {
  stroke: var(--color-dark);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
