@value baseRatio, size0, size1, size2, size3, size4, sizeM1 from "../../styles/sizing.css";

.Heading {
  composes: serif from "../../styles/typography.css";
}

h1.Heading,
h2.Heading {
  font-weight: 700;
  hyphens: auto;
  line-height: calc(0.8 * baseRatio);
}

h1.Heading {
  font-size: size4;
}

h2.Heading {
  font-size: size3;
}

h3.Heading {
  font-size: size2;
}

h4.Heading {
  font-size: size1;
}

h5.Heading {
  font-size: size0;
}

h6.Heading {
  font-size: sizeM1;
}
