@value baseRatio, size0, size1, size2, size3, size4, sizeM1 from "../../styles/sizing.css";

.level1,
.level2 {
  composes: serif from "../../styles/typography.css";
  font-weight: 700;
  hyphens: auto;
  line-height: calc(0.8 * baseRatio);
}

.level1 {
  font-size: size4;
}

.level2 {
  font-size: size3;
}

.level3 {
  font-size: size2;
}

.level4 {
  font-size: size1;
}

.level5 {
  font-size: size0;
}

.level6 {
  font-size: sizeM1;
}
