@value sizeM1, sizeM2, sizeM3 from "../../styles/sizing.css";

.NavBar {
  display: flex;
  list-style: none;
  padding: sizeM1;
}

.NavBar > ul {
  display: flex;
  flex-grow: 1;
}

.homeLink,
.NavBar > ul > li {
  display: inline-block;
  margin-left: sizeM1;
  margin-right: sizeM1;
}

.homeLink {
  composes: serif from "../../styles/typography.css";
  text-decoration: none;
}

.menuButton {
  composes: default from "../../styles/buttons.css";
  display: none;
}

.visuallyHidden {
  composes: visuallyHidden from "../../styles/display.css";
}

@media (max-width: 600px) {
  .NavBar,
  .NavBar > ul {
    align-items: center;
    flex-direction: column;
  }

  .menuButton {
    width: 100%;
  }

  .menuButton > svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: sizeM3;
  }

  .NavBar > [aria-expanded="false"] + ul {
    display: none;
  }

  .homeLink,
  .menuButton,
  .NavBar > ul > li {
    display: block;
    margin-bottom: sizeM2;
    margin-top: sizeM2;
  }
}
