@value size1, size3, sizeM3 from "../../styles/sizing.css";

.Header {
  composes: inverted from "../../styles/colors.css";
  margin-bottom: size3;
  padding-bottom: size1;
  padding-top: size1;
}

.Header p {
  margin-top: sizeM3;
}

@media (max-width: 600px) {
  .Header h1 {
    font-size: size3;
  }
}
