.Header {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding-bottom: var(--s1);
  padding-top: var(--s1);
}

.Header p {
  margin-top: var(--s-3);
}

@media (max-width: 600px) {
  .Header h1 {
    font-size: var(--s3);
  }
}
