@value borderSize from "../../styles/borders.css";
@value baseRatio, sizeM1, sizeM5 from "../../styles/sizing.css";

:root {
  font-size: calc(0.333vw + 1em);
  line-height: baseRatio;
}

:focus {
  outline-offset: borderSize;
  outline-style: solid;
  outline-width: borderSize;
}

.root {
  composes: default from "../../styles/colors.css";
  composes: sans from "../../styles/typography.css";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}

.skip {
  composes: inverted from "../../styles/colors.css";
  display: inline-block;
  padding: sizeM1;
  position: absolute;
  top: -10rem;
}

.skip:focus {
  outline: none;
  position: absolute;
  top: 0;
  z-index: 1;
}
