*,
:after,
:before {
  background-color: inherit;
  border: 0 solid;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
